<template>
  <div id="app">
    <img src="@/assets/logo.svg"> <span>MetaWeather</span><br>
    <a href="#" @click="goToHome()">Home</a>
    <b-row>
        <b-col>
            <b-form-group>
              <b-form-input type="text" v-model="keyword" placeholder="Type any keyword here..." required></b-form-input>
              <b-btn @click="runSearch()" :disabled="!keyword">Search Now</b-btn>
            </b-form-group>
        </b-col>
    </b-row>
    <router-view/>
  </div>
</template>

<script>
  import api from '@/APIService';

  export default {
    name: 'App',
    data() {
      return {
        keyword: this.$route.params.keyword
      }
    },
    methods: {
      runSearch () {
        this.$router.push({name: 'Search', params: {keyword: encodeURI(this.keyword)}})
      },
      goToHome() {
        this.$router.push({ name: 'Home' });
      }
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#app img {
  width: 1.2em;
  height: 1.2em;
}

#app span {
  color: #777;
  height: 50px;
  font-size: 18px;
  font-family: "Helvetica Neue", Arial, sans-serif
}
button {
  margin-top: 20px;
  margin-bottom: 5px;
}
div.row {
  padding: 20px;
}
</style>
