<template>
  <div>
    <img v-if="loading" src="@/assets/ajax-loader.gif">
    <div v-if="!loading">
      <h1>{{ weather.title }}</h1>
      <h3>{{ weather.parent.title }}</h3>
      <b-row>
        <b-col v-for="(day, index) in weather.consolidated_weather" :key="index">
          <b-card>
            <b-img :src="getIcon(day.weather_state_abbr)" /> {{ day.weather_state_name }}<br>
            {{ day.applicable_date | weekname }}<br>
            Temperature: {{ day.the_temp | round }}°<br>
            Max: {{ day.max_temp | round  }}°<br>
            Min: {{ day.min_temp | round  }}°<br>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import Api from '@/APIService';

export default {
  name: "Details",
  data() {
    return {
      weather: null,
      loading: true
    };
  },
  filters: {
    round(value) {
      return value ? value.toFixed(0) : value;
    },
    weekname (value) {
      let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
      let d = new Date(value)
      return days[d.getDay()]
    }
  },
  methods: {
    getWeatherDetails() {
      let woeid = this.$route.params.woeid;
      Api.getLocation(woeid).then(
        response => {
          this.weather = response;
          this.loading = false;
        },
        error => {
          console.log(error);
        }
      );
    },
    getIcon (icon) {
      return 'https://www.metaweather.com/static/img/weather/' + icon + '.svg';
    }
  },created() {
    this.getWeatherDetails();
  }
};
</script>

<style scoped>
* {
  text-align: left;
}
h1, h3 {
  text-align: center;
}
</style>
