<template>
    <b-container fluid>
        <b-row v-for="i in Math.ceil(cities.length / 2)" :key="i">
            <b-col v-for="(city, index) in cities.slice((i - 1) * 2, i * 2)" :key="index" >
                <Weather :woeid="city"></Weather>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import Weather from './Weather';

export default {
  name: "Home",
  components: { Weather },
  data() {
    return {
      cities: [2344116, 638242, 44418, 565346, 560743, 9807]
    };
  }
};
</script>

<style scoped>
.row {
    margin-bottom: 10px;
}
</style>
