<template>
  <b-container fluid>
      <span v-if="emptyResults" class="not-found">No results were found. Try changing the keyword!</span>
      <b-row v-for="i in Math.ceil(results.length / 2)" :key="i">
          <b-col v-for="(result, index) in results.slice((i - 1) * 2, i * 2)" :key="index" >
              <Weather :woeid="result.woeid"></Weather>
          </b-col>
      </b-row>
  </b-container>
</template>

<script>
import Weather from './Weather'
import Api from "@/APIService";

export default {
  name: 'Search',
  components: { Weather },
  data() {
    return {
      results: [],
      emptyResults: false
    }
  },
  methods: {
    getSearch() {
      this.results = [];
      Api.searchKeyword(encodeURI(this.$route.params.keyword)).then(
        response => {
          this.results = response;
          if(this.results.length === 0) {
            this.emptyResults = true;
          } else {
            this.emptyResults = false;
          }
        },
        error => {
          console.log(error);
        }
      )
    }
  },
  watch: {
    '$route': 'getSearch'
  },
  created() {
    this.getSearch();
  }
}
</script>