<template>
  <div>
    <img v-if="loading" src="@/assets/ajax-loader.gif">
    <b-card v-if="!loading" :title="weather.title" sub-title="Today">
      <p>
        Temperature: {{ weather.today.the_temp | round }}°
        <b-img :src="getIcon(weather.today.weather_state_abbr)" /><br>
        Max: {{ weather.today.max_temp | round  }}°<br>
        Min: {{ weather.today.min_temp | round  }}°
      </p>
      <b-link href="#" class="card-link" @click="showDetails()">Details</b-link>
    </b-card>
  </div>
</template>

<script>
import Api from "@/APIService";

export default {
  props: ["woeid"],
  name: "Weather",
  data() {
    return {
      weather: null,
      loading: true
    };
  },
  filters: {
    round(value) {
      return value ? value.toFixed(0) : value;
    }
  },
  methods: {
    getWeather(woeid) {
      Api.getLocation(woeid).then(
        response => {
          this.weather = response;
          this.weather.today = this.weather.consolidated_weather[0];
          this.loading = false;
        },
        error => {
          console.log(error);
        }
      );
    },
    getIcon (icon) {
      return 'https://www.metaweather.com/static/img/weather/' + icon + '.svg';
    },
    showDetails() {
      this.$router.push({ name: 'Details', params: { woeid: this.weather.woeid } });
    }
  },
  created() {
    this.getWeather(this.woeid);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  text-align: left;
}
</style>
